<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="navigation">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home">Back</ion-back-button>
      </ion-buttons>
      <ion-button [routerLink]="['/home']">Home</ion-button>
      <ion-button [routerLink]="['/random-quote']">Random Quote</ion-button>
      <ion-button [routerLink]="['/quote-img']">Inspiring image</ion-button>
      <ion-button [routerLink]="['/diary']">Diary</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Quote of the day</h1>
  <div class="container">
    <h1>{{quote}}</h1>
    <h4>{{author}}</h4>
  </div>
</ion-content>
