

<ion-content [fullscreen]="true">

  <div class="greetingsText">
    <h1>Hello friend</h1>
    <p>How are you today?</p>
  </div>

  <div id="containerButtons">
    <ion-button [routerLink]="['/quote-img']">Get an inspirational image</ion-button>
    <ion-button [routerLink]="['/quote-of-the-day']">Get today's quote</ion-button>
    <ion-button [routerLink]="['/random-quote']">Get a random quote</ion-button>
    <ion-button [routerLink]="['/diary']">diary</ion-button>
  </div>

  <div class="footer">
    <p>Made by Ivan Cherkes</p>
    <p>Зроблено Іваном Черкесом</p>
  </div>

</ion-content>
