ion-content{
  display: flex;
  justify-content: center;  
  align-items: center;      /* Center vertically */
  flex-direction: column;   /* Stack the items vertically */
  text-align: center;       /* Center text inside the div */
  height: 100%; 
  --background: url("https://images.unsplash.com/photo-1700056397549-aeeaaa8d5906?q=80&w=2767&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center;
  --background-size: cover;  
  height: 100%; 

}



.greetingsText {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.greetingsText h1 {
  font-size: 40px;
  line-height: 50px;
}

#containerButtons {
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}